@media screen and (max-width: 800px) {
  .right-sidebar {
    display: none;
  }
  .main-bar {
    width: calc(100%);
  }
  .left-sidebar {
    display: none;
  }
  .home-container-2 {
    width: 100vw;
  }
}
